@model IEnumerable<DepartmentWeb.Models.EmployeeModel>

@{
    ViewData["Title"] = "EmployeeList";
}

<h1>EmployeeList</h1>



<p>
    <a class="btn btn-primary" asp-area="" asp-controller="Employee" asp-action="Employee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmpId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EmpId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.EmpName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpSalary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpEmail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmpId }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
                </td>
            </tr>
        }
    </tbody>
</table>
